<div class="m-5">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">#STT</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <button class="btn btn-warning">Edit</button>
          <button class="btn btn-danger ms-2">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
