<div class="d-flex align-items-center justify-content-center vh-100 mx-5">
  <div class="text-center">
    <h1 class="display-1 fw-bold">Home Page</h1>
    <p class="fs-3"><span class="text-danger">Welcome!</span> to HomePage.</p>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati hic
      voluptate molestiae ea ipsam sint neque delectus, enim quasi vitae esse
      velit soluta perspiciatis quam dicta, itaque, tempore earum quibusdam.
    </p>
    <a href="index.html" class="btn btn-primary">Nothing</a>
  </div>
</div>
